
<h2>Shoes I am Renting:</h2>
<div class="container">
  <div class="col-sm-8">
      <% @rentals.to_a.each do |rental| %>
        <div class="col-sm-6">
          <div class="shoe-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path rental.shoe.photo if rental.shoe.photo.present? %>')">
            <h2 class="shoe-card-name"><%= "#{rental.shoe.name.capitalize} #{rental.shoe.brand.capitalize}" %></h2>
            <p class="shoe-card-location"><%= rental.shoe.owner.location.capitalize %></p>
            <p class="shoe-card-size">Size: <%= rental.shoe.size %></p>
            <!-- <a class="card-link" href="#" ></a> -->
            <%= link_to "", shoe_path(rental.shoe), {class: "card-link"} %>
          </div>
        </div>
      <% end %>
    </div>
</div>









