<BR><BR>

<div class="container text-center">
  <div class="row">
    <div class="col-sm-2">
      <h3>Owner</h3>
      <%= image_tag "profile_pic.jpg", class: "avatar-large" %>
    </div>
    <div class="col-sm-2">
      <%= image_tag "arrow.jpg", class: "arrow" %>
    </div>
    <div class="col-sm-4">
      <h3><%= @shoe.name %></h3>
      <%= cl_image_tag @shoe.photo, height: 200, width: 300, crop: :thumb, radius: 20 %>
    </div>
    <div class="col-sm-2">
      <%= image_tag "arrow.jpg", class: "arrow" %>
    </div>
    <div class="col-sm-2">
      <h3>Renter</h3>
      <%= image_tag "kanye.png", class: "avatar-large" %>
    </div>
  </div>
</div>
<BR><BR><BR>

<div class="container" style="width: 90rem">
  <div class="wrapper-grey">
      <div class="row">
        <div class="col-xs-12 col-md-6" id="shoe-shift">
            <h3>Start Date:</h3><br/>
            <p><%= @rental.start_date.strftime("%A %B %Y") %></p><hr>
            <h3>End Date:</h3><br/>
            <p><%= @rental.end_date.strftime("%A %B %Y") %></p><hr>
            <h3>Total Cost:</h3><br/>
            <p>$ <%= @rental.total_cost %></p><hr>
          <div class="button-padding">
          <%= link_to "Approve", shoes_path, {class: "btn btn-primary"} %>
          <%= link_to "Decline", shoes_path, {class: "btn btn-primary"} %>
          </div>
        </div>
      </div>
    </div>
</div>
