<BR><BR>

<div class="container text-center">
  <div class="row wrapper-grey">
    <div class="col-sm-2">
      <h3>Owner</h3>
      <%= image_tag "profile_pic.jpg", class: "avatar-large" %>
    </div>
    <div class="col-sm-2">
      <%= image_tag "arrow.jpg", class: "arrow" %>
    </div>
    <div class="col-sm-4">
      <h3><%= @rental.shoe.name %></h3>
      <%= cl_image_tag @rental.shoe.photo, height: 200, width: 300, crop: :thumb, radius: 20 %>
    </div>
    <div class="col-sm-2">
      <%= image_tag "arrow.jpg", class: "arrow" %>
    </div>
    <div class="col-sm-2">
      <h3><%= @rental.shoe.owner.name %></h3>
      <%= image_tag current_user.facebook_picture_url.gsub("square","large"), class: "avatar-large" %>
    </div>
  </div>

  <div class="wrapper-grey">
    <div class="row">
      <div class="col-xs-12">
      <h3>Thanks for your request. The status is now:</h3> <p><%= @rental.status.capitalize %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
         <div class="button-padding">
          <%= link_to "Go to Profile", profile_path, class: "btn btn-primary button-margin" %>
        <%= link_to "Search for another Shoe", root_path, class: "btn btn-primary button-margin" %>
        </div>
        </div>
      </div>
    </div>
  </div>
  </div>

<BR><BR><BR>


