<br>
<div class="container">

  <div class="col-sm-8">
    <% @shoes.each do |shoe| %>
      <div class="col-sm-6">
        <div class="shoe-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path shoe.photo if shoe.photo.present? %>')">
          <h2 class="shoe-card-name"><%= "#{shoe.name.capitalize} #{shoe.brand.capitalize}" %></h2>
          <p class="shoe-card-location"><%= shoe.owner.location.capitalize %></p>
          <p class="shoe-card-size">Size: <%= shoe.size %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-sm-4 map">
    <!-- MAP HERE -->
    <div id="map" style="width: 100%; height: 600px;"></div>

    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $(document).ready(function() {
          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function() {
            markers = handler.addMarkers(<%= raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            if (markers.length == 0) {
              handler.getMap().setZoom(2);
            } else if (markers.length == 1) {
              handler.getMap().setZoom(14);
            }
          });
        });
      <% end %>
    <% end %>
  </div>
</div>
